:root {
    --bg-main: #2a2738;
    --bg-secondary: #3b374d;
    --high-light : #6d54b6;
    --dark-blue-3: #0b2d39;
    --dark-blue-4: #0f3c4c;
    --orange-primary: #d97229;
    --main-bg-color: #000009; /* Main background color */
    --accent-color-1: #ff4d4d; /* Bright Coral Red - Accent */
    --accent-color-1-bg: rgb(255, 77, 77, 0.3); /* Bright Coral Red - Accent */
    --accent-color-2: #c9c9c9; /* Light Gray - Neutral Accent */
    --accent-color-3: #ffc107; /* Amber Yellow - Pop Accent */
    --secondary-color: #1a1a2e; /* Dark Indigo Blue - Secondary */
    --text-color-light: #ffffff; /* Pure White - Light Text */
    --text-color-dark: #333333; /* Charcoal Gray - Dark Text */
    --bg-color-dark-op: rgba(0, 0, 0, 0.3);
    --bg-table : rgba(51, 51, 51, 0.5);
    --bg-table-even : rgba(51, 51, 51, 0.3)
  }
  