.code-and-compile {
  display: flex;
  width: 98vw;
  margin: 16px;
  justify-content: space-around;
}

.code-editor-box {
  width: 50%;
}

.output-box {
  width: 30%;
}

.run-code {
  border: 1px solid #fff;
  padding: 5px 16px;
  background-color: grey;
  border-radius: 8px;
  color: white;
  margin: 16px 0;
}

.run-code:hover {
  background-color: rgba(128, 128, 128, 0.8);
}

.submit-code {
  background-color: #00cc00;
  padding: 5px 16px;
  border-radius: 8px;
  margin: 16px 0;
  border: 1px solid #00cc00;
  color: white;
}

.submit-code:hover {
  background-color: rgba(0, 204, 0, 0.8);
}

.output {
  border: 1px solid lightgray;
  height: 25vh;
  padding: 16px;
}

.error-output {
  border: 1px solid red;
  height: 75vh;
  padding: 16px;
  color: red;
}

.problem-desc {
  border: 1px solid lightgray;
  height: 47vh;
  padding: 16px;
  margin-bottom: 20px;
  overflow-y: auto;
}

.secondary-cursor {
  border-left: 2px solid red;
  height: 1em;
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.call-details {
  width: 18%;
}

.call-card {
  width: 100%;
  background-color: lightgray;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin-bottom: 16px;

  .caller-name {
    width: 50px;
    height: 50px;
    background-color: grey;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
