.videosdk-container {
    flex: 0 0 350px;
    border: 1px solid red;
}
.toggle-buttons {
    outline: none;
    border: none;
    background-color: white;
}
.toggle-buttons:focus {
    outline: none;
}